<a href="https://colab.research.google.com/github/leesangh92/pandas/blob/main/python_for_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
9incd drive/MyDrive/pydata-book-2nd-edition/

/content/drive/MyDrive/pydata-book-2nd-edition

In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('/content/drive/MyDrive/pydata-book-2nd-edition/examples/ex1.csv')

In [12]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
result = pd.read_table('/content/drive/MyDrive/pydata-book-2nd-edition/examples/ex3.txt', sep = '\s+')

In [14]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [30]:
data = pd.read_csv('/content/drive/MyDrive/pydata-book-2nd-edition/examples/ex5.csv')

In [31]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [33]:
import sys
data.to_csv(sys.stdout, sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [16]:
!pwd

/content

In [17]:
!ls

drive  sample_data

In [19]:
list(open('/content/drive/MyDrive/pydata-book-2nd-edition/examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [39]:
list2 = list(map(int, input().split()))
# int = 콜백 함수

KeyboardInterrupt: ignored

In [42]:

k = [1, 2, 3, 4, 5]
list(map(f, k))

TypeError: ignored

In [46]:
print('abcd\\e\\fghijk') # 탈출문자(escape)

abcd\e\fghijk

In [51]:
k = r'aaa\t bbb\t ccc\n ddd\n'

In [52]:
print(k)

aaa\t bbb\t ccc\n ddd\n