<a href="https://colab.research.google.com/github/leesangh92/pandas/blob/main/(21_5_21).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def Disp(name = '손흥민', age = 30):
    '''
    Disp 함수는 이름과 나이를 출력합니다.
    '''
    print(name, age)

In [ ]:
Disp()

손흥민 30

In [ ]:
Disp(name = '양주종', age = None)

양주종 None

In [ ]:
Disp? # 기본적인 구조를 볼 수 있다

In [ ]:
Disp?? # 만들어 놓은 함수 전부를 볼 수 있다

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
n1 = np.arange(1, 11, 2)

In [ ]:
type(n1)

numpy.ndarray

In [ ]:
n1.argmax?

In [ ]:
n1.argmax??

In [ ]:
n1.max(#키워드인수)

SyntaxError: ignored

In [ ]:
k = 'korea'

In [ ]:
list(k)

['k', 'o', 'r', 'e', 'a']

In [ ]:
s1 = pd.Series(list(k))

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
a1, a2, *a3 = a

In [ ]:
a1

1

In [ ]:
a2

2

In [ ]:
a3

[3, 4, 5]

In [ ]:
d1 = {'name' : '민수', 'age' : 25, 'job' : '흰손'}

In [ ]:
type(d1)

dict

In [ ]:
d100 = pd.DataFrame(d1, index =[1, 2])

In [ ]:
d100

  name  age job
1   민수   25  흰손
2   민수   25  흰손

In [ ]:
sum(3, 54, 71)

TypeError: ignored

In [ ]:
sum([3, 54, 71])

128

In [ ]:
aa = np.array(a)

In [ ]:
type(a)

list

In [ ]:
type(aa)

numpy.ndarray

In [ ]:
aa + 5

array([ 6,  7,  8,  9, 10])